/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 31, 2022, 5:42:07 PM
    Author     : User
*/

body{
    background-color: lavender
}

h1{
    color: red
}

p{
    color: blue
}